html {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  flex-direction: column;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  padding: 50px;
}

vocab-element {
  flex: auto;
}

span {
  padding: 10px;
}

li {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 5px;
}

/* Large */
@media screen and (min-width: 992px) {
  main {
    flex-flow: column wrap;
    height: 100vh;
    gap: 20px;
  }
  vocab-element {
    flex: auto;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212;
    /* Dark background */
    color: #e0e0e0;
    /* Light text */
  }
  vocab-element {
    background-color: #000;
    color: #fff;
  }
}
