:root {
  font-family: "Lato", "Open Sans", Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --obsidian: #0b1215;
  --snow: #fffafa;
  --alice-blue: #f0f8ff;
  --oil: #0c0c0c;
}

html {
  box-sizing: border-box;
  font-style: normal;
}

[data-theme="light"] {
  --color-bg: var(--snow);
  --color-fg: var(--obsidian);
}

[data-theme="dark"] {
  --color-bg: var(--obsidian);
  --color-fg: var(--snow);
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
}

body {
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--color-bg);
  color: var(--color-fg);
}

#app {
  display: flex;
  flex-direction: column;
}

.btn-container {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 1rem;
  margin-right: 1rem;
}

button {
  border-radius: 100px;
  padding: 0.5rem;
  font-size: 0.75rem;
  cursor: pointer;
  color: var(--color-fg);
  background-color: var(--color-bg);
  border: 0.25rem solid var(--color-fg);
  transition: all 0.2s ease-in-out;
}

.icon {
  width: 0.7rem;
  height: 0.7rem;
  vertical-align: middle;
  fill: currentColor;
}

main {
  padding: 2rem;
  text-align: left;
  display: flex;
  flex-direction: column;
}

vocab-element {
  flex: auto;
  background-color: var(--color-bg);
  color: var(--color-fg);
  padding: 0.5rem;
}

li {
  font-family: "Open Sans", sans-serif;
  padding: 5px;
}

/* Large */
@media screen and (min-width: 992px) {
  #app {
    padding: 2rem;
    height: 100vh;
  }

  .btn-container {
    margin-top: 0;
    margin-right: 0;
    padding-right: 10rem;
  }

  .icon {
    width: 1rem;
    height: 1rem;
  }

  main {
    flex-wrap: wrap;
    align-content: space-evenly;
    height: 95%;
  }

  vocab-element {
    flex: auto;
  }
}
